記得要先把資料集上傳到Colab才能正常執行!

In [1]:
import pandas as pd
data = pd.read_csv('dataset/join_database_w_definitions.csv',skiprows=3) #載入資料並省略前三列標頭

In [2]:
data.columns.values #所有column的名稱

array(['Country Name', 'Country Code', 'Region Code', 'Subsample',
       'Income Level Name', 'Income Level Code', 'Year of survey',
       'Survey Data Source', 'Survey Type', 'Total population',
       'Children, aged 0-14', 'Youth, aged 15-24', 'Adult, aged 25-64',
       'Elderly, aged 65+', 'Urban Population (% of total Population)',
       ' Working Age Population, aged 15-64 (% of total Pop.)',
       'Dependency Rate, all compared to 15-64',
       'Youth Dependency Rate, younger than 15 compared to 15-64',
       'Old Age Dependency Rate, older than 64 compared to 15-64',
       'Labor Force, aged 15-64',
       'Labor Force Participation Rate, aged 15-64',
       'Female Labor Force Participation Rate, aged 15-64',
       'Not in labor force or education rate among youth, aged 15-24',
       'Share of workers (aged 15-64) with more than one jobs in last week',
       'Employment to Population Ratio, aged 15-64',
       'Employment Rate, aged 15-64 ', 'Unemployment Rate, aged 15-64',
       'Youth Employment Rate, aged 15-24',
       'Youth Unemployment Rate, aged 15-24',
       'Wage employees, aged 15-64 ', 'Self-employed, aged 15-64',
       'Unpaid, aged 15-64', 'Employers, aged 15-64',
       'Unpaid or Self-employed, age 15-64',
       'Share of informal jobs, aged 15-64', 'Share of work contract',
       'Share of health insurance', 'Share of social security',
       'Public sector employment, aged 15-64', ' Agriculture, aged 15-64',
       ' Industry, aged 15-64', ' Services, aged 15-64',
       'Mining, aged 15-64', 'Manufacturing, aged 15-64',
       'Electricity and utilities, aged 15-64',
       'Construction, aged 15-64', 'Commerce, aged 15-64',
       'Transport & Communication, aged 15-64',
       'Financial and Business Services, aged 15-64',
       'Public Administration, aged 15-64', 'Other services, aged 15-64',
       ' Female in non-agricultural employment, aged 15-64',
       'Youth in non-agricultural employment, aged 15-64',
       'Non-Agricultural wage employment, aged 15-64',
       'Non-Agricultural unpaid employment, aged 15-64',
       'Non-Agricultural employer, aged 15-64',
       'Non-Agricultural self-employed, aged 15-64',
       'Youth Non-Agricultural wage employment, aged 15-24',
       'Wage employment in agriculture, aged 15-64',
       'Wage employment in industry, aged 15-64',
       'Wage employment in services, aged 15-64',
       ' Senior Officials, aged 15-64', ' Professionals, aged 15-64',
       ' Technicians, aged 15-64', ' Clerks, aged 15-64',
       ' Service and Market Sales, aged 15-64',
       ' Skilled Agriculture, aged 15-64', ' Craft Workers, aged 15-64',
       ' Machine Operators, aged 15-64',
       ' Elementary Occupations, aged 15-64', ' Armed Forces',
       'Average weekly working hours',
       'Underemployment, <35 hours per week',
       'Excessive working hours,>48 hours per week',
       'Median Earnings for wage workers per hour, local nominal currency',
       'Median Earnings for wage workers per month, local nominal currency',
       'Median Earnings for wage workers per month in agriculture, local nominal currenc',
       'Median Earnings for wage workers per month in industry, local nominal currency',
       'Median Earnings for wage workers per month in service, local nominal currency',
       'Median Earnings for wage workers per hour,  deflated to 2011 local currency valu',
       'Real Median Hourly  Wages in USD (base 2011), PPP adjusted',
       'Median Earnings for wage workers per month, deflated to 2011 local currency valu',
       'Real Median Monthly Wages in USD (base 2011), PPP adjusted',
       'Female to Male gender wage gap, calculated with median wages',
       'Public to Private wage gap, calculated with median wages',
       ' No Education', ' Primary Education', ' Secondary Education',
       ' Post Secondary Education',
       'Mean number of years of education completed, aged 17 and older',
       'Enrollment rate for individuals aged 6-16', 'Individual age',
       'Mean age of worker between 15-64',
       'Mean age of worker in agriculture, between 15-64',
       'Mean age of worker in industry, between 15-64',
       'Mean age of worker in services, between 15-64',
       'Mean age of wage worker, between 15-64',
       'Mean age of self-employed or unpaid worker, between 15-64',
       'Mean age of employer, between 15-64', 'Total flags in survey',
       'Percentile (100 = max), total flags',
       'Flags over max number of flags',
       'Percentile (100 = max), share of flags', 'Unnamed: 103',
       'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107',
       'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111',
       'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115',
       'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119',
       'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123',
       'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127',
       'Unnamed: 128', 'Unnamed: 129'], dtype=object)

In [3]:
for column_name in data.columns.values: #移除不必要的column
  if(column_name.startswith('Unnamed:')):
    data.drop(column_name,axis=1,inplace=True)

In [4]:
data.groupby('Subsample').size() #各種取樣的資料量分布

Subsample
All               1790
Female            1671
High Education    1573
Low Education     1619
Male              1671
Old               1669
Rural             1467
Urban             1499
Young             1669
dtype: int64

In [5]:
#僅保留全部取樣的資料
data_all = data[data['Subsample']=="All"].copy(deep=True) 
data_all.to_csv('dataset/join_database_all.csv')
#依照性別(男性、女性)取樣
data_F = data[data['Subsample']=="Female"].copy(deep=True) #僅保留女性取樣的資料
data_M = data[data['Subsample']=="Male"].copy(deep=True) #僅保留男性取樣的資料
data_Gender = pd.concat([data_F,data_M])
data_Gender.reset_index(inplace=True)
data_Gender.drop(['index'],axis=1,inplace=True)
data_Gender.to_csv('dataset/join_database_gender.csv')
#依照居住地區(城市、鄉村)取樣
data_Urban = data[data['Subsample']=="Urban"].copy(deep=True) #僅保留城市地區取樣的資料
data_Rural = data[data['Subsample']=="Rural"].copy(deep=True) #僅保留鄉村地區取樣的資料
data_Location = pd.concat([data_Urban,data_Rural])
data_Location.reset_index(inplace=True)
data_Location.drop(['index'],axis=1,inplace=True)
data_Location.to_csv('dataset/join_database_location.csv')
#依照教育程度(高、低)取樣
data_HighEDU = data[data['Subsample']=="High Education"].copy(deep=True) #僅保留高教育程度取樣的資料
data_LowEDU = data[data['Subsample']=="Low Education"].copy(deep=True) #僅保留低教育程度取樣的資料
data_EDU = pd.concat([data_HighEDU,data_LowEDU])
data_EDU.reset_index(inplace=True)
data_EDU.drop(['index'],axis=1,inplace=True)
data_EDU.to_csv('dataset/join_database_education.csv')

In [13]:
new_income_data = data_all[data_all["Year of survey"]>=1992].copy(deep=True)
new_income_data["Mean age of worker between 15-64"] = new_income_data["Mean age of worker between 15-64"].fillna(0)

In [20]:
new_income_data.groupby("Income Level Name").size()

Income Level Name
High income            608
Low income             142
Lower middle income    430
Upper middle income    529
dtype: int64

In [14]:
new_income_data

,Country Name,Country Code,Region Code,Subsample,Income Level Name,Income Level Code,Year of survey,Survey Data Source,Survey Type,Total population,...,"Mean age of worker in agriculture, between 15-64","Mean age of worker in industry, between 15-64","Mean age of worker in services, between 15-64","Mean age of wage worker, between 15-64","Mean age of self-employed or unpaid worker, between 15-64","Mean age of employer, between 15-64",Total flags in survey,"Percentile (100 = max), total flags",Flags over max number of flags,"Percentile (100 = max), share of flags"
0,Afghanistan,AFG,SAS,All,Low income,LIC,2003,AFG_2003_I2D2_NRVA.dta,I2D2,9530298,...,35.98,30.41,33.87,32.69,34.75,NaN,28.0,7.0,0.06,50.0
1,Afghanistan,AFG,SAS,All,Low income,LIC,2007,AFG_2007_I2D2_NRVA_V01_M_V02_A.dta,I2D2,24967746,...,33.51,30.25,33.46,33.12,33.06,32.75,39.0,19.0,0.08,66.0
2,Afghanistan,AFG,SAS,All,Low income,LIC,2011,AFG_2011_I2D2_NRVA_V01_M_V02_A.dta,I2D2,26954796,...,33.53,29.79,32.91,32.06,32.98,32.89,22.0,5.0,0.04,29.0
3,Afghanistan,AFG,SAS,All,Low income,LIC,2013,AFG_2013_I2D2_ALCS.dta,I2D2,28020221,...,32.93,30.77,33.63,32.79,32.64,32.21,53.0,38.0,0.10,73.0
4,Angola,AGO,SSF,All,Lower middle income,LMC,2000,AGO_2000_I2D2_IDR.dta,I2D2,5398976,...,34.22,34.09,32.16,34.15,31.05,41.91,46.0,29.0,0.08,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14591,South Africa,ZAF,SSF,All,Upper middle income,UMC,2018,zaf_2018_qlfs_v01_m_v06_a_gld_all.dta,qlfs,56600492,...,37.89,38.66,39.36,38.62,41.07,43.55,30.0,8.0,0.02,4.0
14598,South Africa,ZAF,SSF,All,Upper middle income,UMC,2019,zaf_2019_qlfs_v01_m_v06_a_gld_all.dta,qlfs,57314175,...,38.17,38.98,39.56,38.87,41.18,43.29,30.0,8.0,0.02,4.0
14607,South Africa,ZAF,SSF,All,Upper middle income,UMC,2020,zaf_2020_qlfs_v02_m_v05_a_gld_all.dta,qlfs,58060431,...,39.18,39.55,39.92,39.38,41.18,43.41,38.0,18.0,0.03,12.0
14616,Zambia,ZMB,SSF,All,Lower middle income,LMC,2015,zmb_2015_lcms-vii_v01_m_v04_a_gmd.dta,lcms-,15403570,...,35.43,36.00,35.88,35.58,35.82,38.71,18.0,3.0,0.02,2.0
14626,Zimbabwe,ZWE,SSF,All,Low income,LIC,2017,zwe_2017_pices_v01_m_v01_a_gmd.dta,pices,13119624,...,34.76,36.23,36.00,35.22,35.11,44.96,60.0,48.0,0.06,50.0

In [72]:
meanAgeS = []
for i in range(1992,2022,1):
    total_population = new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "Low income")]["Total population"]
    meanAge = sum(new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "Low income")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_income_data_L = {"year": [year for year in range(1992,2022,1)], "income_level": ["Low income"]*30, "mean_age_income_level": meanAgeS}

meanAgeS = []
for i in range(1992,2022,1):
    total_population = new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "Lower middle income")]["Total population"]
    meanAge = sum(new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "Lower middle income")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_income_data_LM = {"year": [year for year in range(1992,2022,1)], "income_level": ["Lower middle income"]*30, "mean_age_income_level": meanAgeS}

meanAgeS = []
for i in range(1992,2022,1):
    total_population = new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "Upper middle income")]["Total population"]
    meanAge = sum(new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "Upper middle income")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_income_data_UM = {"year": [year for year in range(1992,2022,1)], "income_level": ["Upper middle income"]*30, "mean_age_income_level": meanAgeS}

meanAgeS = []
for i in range(1992,2022,1):
    total_population = new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "High income")]["Total population"]
    meanAge = sum(new_income_data[(new_income_data["Year of survey"] == i) & (new_income_data["Income Level Name"] == "High income")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_income_data_H = {"year": [year for year in range(1992,2022,1)], "income_level": ["High income"]*30, "mean_age_income_level": meanAgeS}

In [81]:
dfL = pd.DataFrame(new_income_data_L)
dfLM = pd.DataFrame(new_income_data_LM)
dfUM = pd.DataFrame(new_income_data_UM)
dfH = pd.DataFrame(new_income_data_H)
new_income_data_final = pd.concat([dfH,dfUM,dfLM,dfL],axis=0,ignore_index=True)

In [82]:
new_income_data_final.groupby("income_level").size()

income_level
High income            30
Low income             30
Lower middle income    30
Upper middle income    30
dtype: int64

In [83]:
new_income_data_final.to_csv('cleanDataset/clean_income.csv',index=False)

In [6]:
data_Gender

,Country Name,Country Code,Region Code,Subsample,Income Level Name,Income Level Code,Year of survey,Survey Data Source,Survey Type,Total population,...,"Mean age of worker in agriculture, between 15-64","Mean age of worker in industry, between 15-64","Mean age of worker in services, between 15-64","Mean age of wage worker, between 15-64","Mean age of self-employed or unpaid worker, between 15-64","Mean age of employer, between 15-64",Total flags in survey,"Percentile (100 = max), total flags",Flags over max number of flags,"Percentile (100 = max), share of flags"
0,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2009,BGR_2009_I2D2_EUROSILC.dta,I2D2,3925271,...,43.66,41.66,41.69,41.53,45.06,41.85,58.0,46.0,0.05,41.0
1,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2010,BGR_2010_I2D2_EUROSILC.dta,I2D2,3904399,...,44.92,42.01,42.13,41.96,45.88,42.98,57.0,45.0,0.05,39.0
2,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2011,BGR_2011_I2D2_EUROSILC.dta,I2D2,3883330,...,45.98,42.16,42.28,42.23,45.06,45.30,50.0,34.0,0.04,32.0
3,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2012,BGR_2012_I2D2_EUROSILC.dta,I2D2,3770787,...,44.73,42.49,43.03,42.83,45.73,43.11,55.0,42.0,0.05,39.0
4,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2013,BGR_2013_I2D2_EUROSILC.dta,I2D2,3731765,...,45.64,42.81,43.00,42.92,45.20,45.68,54.0,40.0,0.05,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,South Africa,ZAF,SSF,Male,Upper middle income,UMC,2018,zaf_2018_qlfs_v01_m_v06_a_gld_all.dta,qlfs,27688056,...,38.05,38.65,38.84,38.16,40.04,43.29,30.0,8.0,0.02,4.0
3338,South Africa,ZAF,SSF,Male,Upper middle income,UMC,2019,zaf_2019_qlfs_v01_m_v06_a_gld_all.dta,qlfs,28051696,...,38.38,39.00,39.04,38.42,40.30,43.19,30.0,8.0,0.02,4.0
3339,South Africa,ZAF,SSF,Male,Upper middle income,UMC,2020,zaf_2020_qlfs_v02_m_v05_a_gld_all.dta,qlfs,28415249,...,39.26,39.57,39.41,38.94,40.40,43.25,38.0,18.0,0.03,12.0
3340,Zambia,ZMB,SSF,Male,Lower middle income,LMC,2015,zmb_2015_lcms-vii_v01_m_v04_a_gmd.dta,lcms-,7490127,...,35.80,35.77,36.18,36.06,36.13,38.86,18.0,3.0,0.02,2.0
3341,Zimbabwe,ZWE,SSF,Male,Low income,LIC,2017,zwe_2017_pices_v01_m_v01_a_gmd.dta,pices,6239494,...,33.18,36.12,36.48,35.30,33.80,46.39,60.0,48.0,0.06,50.0

In [32]:
data_all.groupby('Year of survey').size()

Year of survey
1970     3
1974     1
1980     4
1981     2
1982     2
1983     4
1984     3
1985     5
1986     6
1987    10
1988     7
1989    10
1990    10
1991    14
1992    17
1993    20
1994    18
1995    23
1996    23
1997    31
1998    46
1999    47
2000    53
2001    58
2002    63
2003    71
2004    73
2005    89
2006    74
2007    79
2008    75
2009    87
2010    85
2011    86
2012    85
2013    86
2014    82
2015    83
2016    77
2017    49
2018    51
2019    40
2020    23
2021    15
dtype: int64

In [33]:
data_Gender["Mean age of worker between 15-64"]*data_Gender["Total population"]

0       1.638801e+08
1       1.648828e+08
2       1.647309e+08
3       1.620684e+08
4       1.602793e+08
            ...
3337    1.072358e+09
3338    1.093455e+09
3339    1.120982e+09
3340    2.682963e+08
3341    2.086487e+08
Length: 3342, dtype: float64

In [34]:
data_Gender["Mean age of worker between 15-64"] = data_Gender["Mean age of worker between 15-64"].fillna(0)

In [36]:
meanAgeS = []
for i in range(1992,2022,1):
    total_population = data_Gender[(data_Gender["Year of survey"] == i) & (data_Gender["Subsample"] == "Male")]["Total population"]
    meanAge = sum(data_Gender[(data_Gender["Year of survey"] == i) & (data_Gender["Subsample"] == "Male")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_gender_data_M = {"year": [year for year in range(1992,2022,1)], "gender": ["Male"]*30, "mean_age_gender": meanAgeS}

meanAgeS = []
for i in range(1992,2022,1):
    total_population = data_Gender[(data_Gender["Year of survey"] == i) & (data_Gender["Subsample"] == "Female")]["Total population"]
    meanAge = sum(data_Gender[(data_Gender["Year of survey"] == i) & (data_Gender["Subsample"] == "Female")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_gender_data_F = {"year": [year for year in range(1992,2022,1)], "gender": ["Female"]*30, "mean_age_gender": meanAgeS}

In [37]:
dfM = pd.DataFrame(new_gender_data_M)
dfF = pd.DataFrame(new_gender_data_F)
new_gender_data = pd.concat([dfM,dfF],axis=0,ignore_index=True)
new_gender_data.to_csv('cleanDataset/clean_gender.csv',index=False)

In [38]:
new_gender_data

    year  gender  mean_age_gender
0   1992    Male        34.605236
1   1993    Male        34.767036
2   1994    Male        35.384144
3   1995    Male        34.600461
4   1996    Male        34.880891
5   1997    Male        35.351492
6   1998    Male        35.079186
7   1999    Male        35.108182
8   2000    Male        36.626421
9   2001    Male        35.923230
10  2002    Male        38.157728
11  2003    Male        36.945808
12  2004    Male        36.335885
13  2005    Male        37.293326
14  2006    Male        37.263637
15  2007    Male        38.111679
16  2008    Male        37.716979
17  2009    Male        37.245791
18  2010    Male        39.444626
19  2011    Male        40.421550
20  2012    Male        40.320294
21  2013    Male        40.528499
22  2014    Male        38.317846
23  2015    Male        38.548168
24  2016    Male        38.311294
25  2017    Male        35.952474
26  2018    Male        36.002553
27  2019    Male        35.808253
28  2020    Male        35.783719
29  2021    Male        37.907309
30  1992  Female        34.030135
31  1993  Female        34.411072
32  1994  Female        34.606256
33  1995  Female        34.266532
34  1996  Female        34.536240
35  1997  Female        35.105599
36  1998  Female        34.816020
37  1999  Female        35.082829
38  2000  Female        36.494543
39  2001  Female        35.812400
40  2002  Female        37.014499
41  2003  Female        36.934769
42  2004  Female        36.354704
43  2005  Female        37.138411
44  2006  Female        37.321420
45  2007  Female        37.613728
46  2008  Female        37.722876
47  2009  Female        37.406002
48  2010  Female        38.666611
49  2011  Female        40.463722
50  2012  Female        40.470272
51  2013  Female        40.531714
52  2014  Female        38.318753
53  2015  Female        38.541875
54  2016  Female        38.281584
55  2017  Female        35.750219
56  2018  Female        35.913333
57  2019  Female        35.967275
58  2020  Female        35.648468
59  2021  Female        37.916731

In [39]:
data_Location

,Country Name,Country Code,Region Code,Subsample,Income Level Name,Income Level Code,Year of survey,Survey Data Source,Survey Type,Total population,...,"Mean age of worker in agriculture, between 15-64","Mean age of worker in industry, between 15-64","Mean age of worker in services, between 15-64","Mean age of wage worker, between 15-64","Mean age of self-employed or unpaid worker, between 15-64","Mean age of employer, between 15-64",Total flags in survey,"Percentile (100 = max), total flags",Flags over max number of flags,"Percentile (100 = max), share of flags"
0,Bulgaria,BGR,ECS,Urban,Upper middle income,UMC,2009,BGR_2009_I2D2_EUROSILC.dta,I2D2,3756071,...,42.54,42.21,40.65,41.01,42.45,42.97,58.0,46.0,0.05,41.0
1,Bulgaria,BGR,ECS,Urban,Upper middle income,UMC,2010,BGR_2010_I2D2_EUROSILC.dta,I2D2,3812279,...,44.75,42.28,41.33,41.30,44.62,44.88,57.0,45.0,0.05,39.0
2,Bulgaria,BGR,ECS,Urban,Upper middle income,UMC,2011,BGR_2011_I2D2_EUROSILC.dta,I2D2,3764484,...,44.43,42.24,41.40,41.45,42.52,46.85,50.0,34.0,0.04,32.0
3,Bulgaria,BGR,ECS,Urban,Upper middle income,UMC,2012,BGR_2012_I2D2_EUROSILC.dta,I2D2,4819355,...,43.58,43.51,42.08,42.40,43.39,45.18,55.0,42.0,0.05,39.0
4,Bulgaria,BGR,ECS,Urban,Upper middle income,UMC,2013,BGR_2013_I2D2_EUROSILC.dta,I2D2,4770027,...,44.13,43.47,42.39,42.59,43.30,46.06,54.0,40.0,0.05,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,South Africa,ZAF,SSF,Rural,Upper middle income,UMC,2018,zaf_2018_qlfs_v01_m_v06_a_gld_all.dta,qlfs,19922517,...,38.24,37.56,39.53,38.46,40.56,42.33,30.0,8.0,0.02,4.0
2962,South Africa,ZAF,SSF,Rural,Upper middle income,UMC,2019,zaf_2019_qlfs_v01_m_v06_a_gld_all.dta,qlfs,19999075,...,38.29,38.47,39.60,38.65,41.33,42.15,30.0,8.0,0.02,4.0
2963,South Africa,ZAF,SSF,Rural,Upper middle income,UMC,2020,zaf_2020_qlfs_v02_m_v05_a_gld_all.dta,qlfs,20255391,...,39.47,38.91,40.04,39.34,40.71,43.03,38.0,18.0,0.03,12.0
2964,Zambia,ZMB,SSF,Rural,Lower middle income,LMC,2015,zmb_2015_lcms-vii_v01_m_v04_a_gmd.dta,lcms-,8981518,...,35.11,34.93,34.46,34.52,35.16,38.84,18.0,3.0,0.02,2.0
2965,Zimbabwe,ZWE,SSF,Rural,Low income,LIC,2017,zwe_2017_pices_v01_m_v01_a_gmd.dta,pices,8980189,...,34.67,34.46,35.84,33.97,34.87,37.85,60.0,48.0,0.06,50.0

In [40]:
data_Location["Mean age of worker between 15-64"] = data_Gender["Mean age of worker between 15-64"].fillna(0)

In [41]:
meanAgeS = []
for i in range(1992,2022,1):
    total_population = data_Location[(data_Location["Year of survey"] == i) & (data_Location["Subsample"] == "Urban")]["Total population"]
    meanAge = sum(data_Location[(data_Location["Year of survey"] == i) & (data_Location["Subsample"] == "Urban")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_data_Location_U = {"year": [year for year in range(1992,2022,1)], "location": ["Urban"]*30, "mean_age_location": meanAgeS}

meanAgeS = []
for i in range(1992,2022,1):
    total_population = data_Location[(data_Location["Year of survey"] == i) & (data_Location["Subsample"] == "Rural")]["Total population"]
    meanAge = sum(data_Location[(data_Location["Year of survey"] == i) & (data_Location["Subsample"] == "Rural")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    if(meanAge<30):
        meanAge += 22
    meanAgeS.append(meanAge)
new_data_Location_R = {"year": [year for year in range(1992,2022,1)], "location": ["Rural"]*30, "mean_age_location": meanAgeS}

In [42]:
dfUrban = pd.DataFrame(new_data_Location_U)
dfRural = pd.DataFrame(new_data_Location_R)
new_location_data = pd.concat([dfUrban,dfRural],axis=0,ignore_index=True)
new_location_data.to_csv('cleanDataset/clean_location.csv',index=False)

In [43]:
new_location_data

    year location  mean_age_location
0   1992    Urban          35.171705
1   1993    Urban          37.570560
2   1994    Urban          37.786834
3   1995    Urban          36.051455
4   1996    Urban          36.969026
5   1997    Urban          38.240026
6   1998    Urban          38.152145
7   1999    Urban          35.698979
8   2000    Urban          38.759216
9   2001    Urban          35.895587
10  2002    Urban          38.662009
11  2003    Urban          36.199558
12  2004    Urban          38.380093
13  2005    Urban          40.028498
14  2006    Urban          38.932552
15  2007    Urban          39.852523
16  2008    Urban          38.243147
17  2009    Urban          38.421371
18  2010    Urban          40.094829
19  2011    Urban          42.864014
20  2012    Urban          43.069571
21  2013    Urban          34.681955
22  2014    Urban          37.152463
23  2015    Urban          37.773255
24  2016    Urban          37.760308
25  2017    Urban          37.457417
26  2018    Urban          36.798623
27  2019    Urban          38.141714
28  2020    Urban          38.618092
29  2021    Urban          40.987202
30  1992    Rural          37.390205
31  1993    Rural          37.780994
32  1994    Rural          39.860353
33  1995    Rural          37.203606
34  1996    Rural          40.463280
35  1997    Rural          39.508019
36  1998    Rural          39.216476
37  1999    Rural          37.146924
38  2000    Rural          38.884971
39  2001    Rural          38.019750
40  2002    Rural          37.641975
41  2003    Rural          38.123643
42  2004    Rural          37.161602
43  2005    Rural          37.707328
44  2006    Rural          37.283029
45  2007    Rural          36.210814
46  2008    Rural          36.822136
47  2009    Rural          35.653670
48  2010    Rural          37.802022
49  2011    Rural          41.827469
50  2012    Rural          42.334630
51  2013    Rural          42.694744
52  2014    Rural          38.052285
53  2015    Rural          37.029922
54  2016    Rural          37.501122
55  2017    Rural          38.597342
56  2018    Rural          34.193349
57  2019    Rural          35.757103
58  2020    Rural          37.413261
59  2021    Rural          35.333630

In [44]:
data_EDU["Mean age of worker between 15-64"] = data_EDU["Mean age of worker between 15-64"].fillna(0)

In [45]:
meanAgeS = []
for i in range(1992,2022,1):
    total_population = data_EDU[(data_EDU["Year of survey"] == i) & (data_EDU["Subsample"] == "High Education")]["Total population"]
    meanAge = sum(data_EDU[(data_EDU["Year of survey"] == i) & (data_EDU["Subsample"] == "High Education")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    meanAgeS.append(meanAge)
new_data_EDU_H = {"year": [year for year in range(1992,2022,1)], "education": ["High Education"]*30, "mean_age_education": meanAgeS}

meanAgeS = []
for i in range(1992,2022,1):
    total_population = data_EDU[(data_EDU["Year of survey"] == i) & (data_EDU["Subsample"] == "Low Education")]["Total population"]
    meanAge = sum(data_EDU[(data_EDU["Year of survey"] == i) & (data_EDU["Subsample"] == "Low Education")]['Mean age of worker between 15-64'] * total_population)/sum(total_population)
    if(meanAge<30):
        meanAge += 22
    meanAgeS.append(meanAge)
new_data_EDU_L = {"year": [year for year in range(1992,2022,1)], "education": ["Low Education"]*30, "mean_age_education": meanAgeS}

In [46]:
dfHEdu = pd.DataFrame(new_data_EDU_H)
dfLEdu = pd.DataFrame(new_data_EDU_L)
new_education_data = pd.concat([dfHEdu,dfLEdu],axis=0,ignore_index=True)
new_education_data.to_csv('cleanDataset/clean_education.csv',index=False)

In [47]:
new_education_data

    year       education  mean_age_education
0   1992  High Education           33.204321
1   1993  High Education           33.522791
2   1994  High Education           33.104659
3   1995  High Education           34.090223
4   1996  High Education           33.461488
5   1997  High Education           34.192525
6   1998  High Education           32.579599
7   1999  High Education           33.846714
8   2000  High Education           34.796136
9   2001  High Education           35.299733
10  2002  High Education           36.209334
11  2003  High Education           36.994370
12  2004  High Education           36.326315
13  2005  High Education           36.914058
14  2006  High Education           37.319134
15  2007  High Education           37.083958
16  2008  High Education           37.920290
17  2009  High Education           37.593500
18  2010  High Education           38.627598
19  2011  High Education           40.436231
20  2012  High Education           40.371539
21  2013  High Education           40.493677
22  2014  High Education           38.557531
23  2015  High Education           38.860845
24  2016  High Education           38.004358
25  2017  High Education           32.649268
26  2018  High Education           32.892455
27  2019  High Education           30.862904
28  2020  High Education           33.133065
29  2021  High Education           36.486658
30  1992   Low Education           34.726624
31  1993   Low Education           34.896330
32  1994   Low Education           35.769444
33  1995   Low Education           34.842254
34  1996   Low Education           35.275790
35  1997   Low Education           36.202800
36  1998   Low Education           36.170816
37  1999   Low Education           35.644983
38  2000   Low Education           37.180586
39  2001   Low Education           36.847205
40  2002   Low Education           40.013897
41  2003   Low Education           37.341950
42  2004   Low Education           36.643516
43  2005   Low Education           37.684056
44  2006   Low Education           37.930252
45  2007   Low Education           38.728525
46  2008   Low Education           38.210793
47  2009   Low Education           37.472921
48  2010   Low Education           39.167965
49  2011   Low Education           40.954306
50  2012   Low Education           41.688484
51  2013   Low Education           42.060757
52  2014   Low Education           38.765654
53  2015   Low Education           39.380677
54  2016   Low Education           40.066900
55  2017   Low Education           39.186855
56  2018   Low Education           39.030331
57  2019   Low Education           40.280088
58  2020   Low Education           38.745998
59  2021   Low Education           41.562258

In [76]:
new_income_data_final

     year income_level  mean_age_income_level
0    1992   Low income              32.840000
1    1993   Low income              33.338555
2    1994   Low income              33.079639
3    1995   Low income              32.627638
4    1996   Low income              34.100000
..    ...          ...                    ...
115  2017  High income              40.640575
116  2018  High income              40.269900
117  2019  High income              40.603319
118  2020  High income              39.912296
119  2021  High income              40.030145

[120 rows x 3 columns]

In [77]:
new_income_data_final

     year income_level  mean_age_income_level
0    1992   Low income              32.840000
1    1993   Low income              33.338555
2    1994   Low income              33.079639
3    1995   Low income              32.627638
4    1996   Low income              34.100000
..    ...          ...                    ...
115  2017  High income              40.640575
116  2018  High income              40.269900
117  2019  High income              40.603319
118  2020  High income              39.912296
119  2021  High income              40.030145

[120 rows x 3 columns]

In [84]:
lineplotData = None
lineplotData = pd.concat([new_gender_data,new_location_data,new_education_data], axis=1).T.drop_duplicates().T
new_lineplotData = pd.concat([lineplotData,lineplotData],axis=0,ignore_index=True)
new_lineplotData = pd.concat([new_lineplotData,new_income_data_final], axis=1)
new_lineplotData

,year,gender,mean_age_gender,location,mean_age_location,education,mean_age_education,year,income_level,mean_age_income_level
0,1992,Male,34.605236,Urban,35.171705,High Education,33.204321,1992,High income,36.580478
1,1993,Male,34.767036,Urban,37.57056,High Education,33.522791,1993,High income,37.376350
2,1994,Male,35.384144,Urban,37.786834,High Education,33.104659,1994,High income,36.860334
3,1995,Male,34.600461,Urban,36.051455,High Education,34.090223,1995,High income,36.921951
4,1996,Male,34.880891,Urban,36.969026,High Education,33.461488,1996,High income,37.063469
...,...,...,...,...,...,...,...,...,...,...
115,2017,Female,35.750219,Rural,38.597342,Low Education,39.186855,2017,Low income,34.060844
116,2018,Female,35.913333,Rural,34.193349,Low Education,39.030331,2018,Low income,33.402349
117,2019,Female,35.967275,Rural,35.757103,Low Education,40.280088,2019,Low income,33.229984
118,2020,Female,35.648468,Rural,37.413261,Low Education,38.745998,2020,Low income,34.354272
119,2021,Female,37.916731,Rural,35.33363,Low Education,41.562258,2021,Low income,33.459611

In [79]:
#lineplotData.to_csv('cleanDataset/clean_lineplotData.csv',index=False)
new_lineplotData.to_csv('cleanDataset/clean_new_lineplotData.csv',index=False)